html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
} 
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: $black;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}