@media (max-width: 1220px){
    .advantages-inner-row{
        .advantages__text{
            padding-left: 20px;
        }
    } 
    .design__images{
        img{
            width: 100%;
        }
    }
}
@media (max-width: 920px){
    .advantages-inner-row {
        flex-wrap: wrap;
        justify-content: center;
        .advantages__title{
            position: static;
        }
        .advantages__desc{
            text-align: center;
        }
        .advantages__text{
            margin: 25px auto;
            padding-left: 0;
        }
    }
    .design__inner{
        display: block;
        .design__item{
            width: 100%;
            .design__item-text{
                max-width: 100%;
            }
        }
    } 
}
@media (max-width: 820px){
.statistics__items{
    display: block;
}
}
@media (max-width: 650px){
.advantages__img{
    img{
        width: 100%;
    }
}
}
@media (max-width: 422px){
    .logo{
        img{
            width: 200px;
        }  
    }
    .header__content{
        .header__title {
            font-size: 68px;
            line-height: 71px;
        }
    }
    .menu{
        .menu__list {
            a {
                font-size: 32px;
                line-height: 30px;
                padding: 20px 9px 6px 0;
                min-width: 273px;
                display: block;
            }
        } 
    } 
    .header__content{
        .page-btn {
            padding: 30px 56px;
        }
    } 
}