@import 'vars';
@import 'global';
@import 'fonts';

.header{
    height: 100vh;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}
.header__top{
    display: flex;
    justify-content: space-between;
    .header__btn{
        height: 60px;
        width: 60px;
        border: 1px solid #fff;
        margin-top: 31px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            height: 2px;
            width: 36px;
            background-color: #fff;
            margin: 5px 0;
        }
    }
    .logo{
        padding-top: 36px;
        margin-bottom: 29px;
    }
}
.header__content{
    .header__title{
        font-family: 'Roboto', sans-serif;
        font-size: 96px;
        line-height: 112px;
        margin-bottom: 40px;
    }
    .header__text{
        width: 284px;
        margin-bottom: 25px;
    }
    .page-btn{
        border: 1px solid #fff;
        padding: 30px 62px;
        background: rgba(255, 255, 255, 0.15);
        transition: all .3s;
        &:hover{
            background-color: $bg;
        }
    }
}
.menu{
    &.active{
        left: 0;
    }
}
.menu{
    background-color: #000;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    transition: all .5s;
    z-index: 7;
    .container__menu{
        position: relative;
    }
    .close__btn{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 15px;
        top: 31px;
        cursor: pointer;
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
            bottom: -1px;
        }
        &::before, &::after{
            content: '';
            position: absolute;
            width: 70px;
            height: 2px;
            background-color: #fff;
            transform-origin: left;
        }
    }
    .menu__list{
        height: 100vh;
        display: flex;
        align-items: center;
        a{
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            padding: 30px 25px 14px 0;
            border-bottom: 3px solid $red;
            min-width: 368px;
            transition: all .5s;
            &:hover{
                border-color: #fff;
                color: $red;
                transform: scale(1.2);
                margin-left: 50px;
            }
        }
    }
}
.slider__item{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider{
    .slick-dots{
        position: relative;
        margin: -55px auto 0;
        max-width: 1230px;
        padding: 0px 15px;
        z-index: 6;
        button{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: $black;
            border: none;
            padding: 0;
            font-size: 0;
            cursor: pointer;
            outline: none;
        }
        .slick-active{
            button{
                background-color: #fff;
            }
        }
        li{
            display: inline-block;
            margin: 0px 5px;
        }
    }
}
.statistics{
    margin: 160px 0px 100px;
    img{
        margin: 100px 0px;
    }
}
.statistics__items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    .statistics__item{
        .statistics__item-num-plus{
            position: relative;
            &::before{
                content: '+';
                position: absolute;
                top: -42px;
                right: 53px;
                font-size: 24px;
            }
        }
        &-num{
            font-size: 96px;
            font-family: 'Roboto', sans-serif;
            span{
                font-size: 24px;
                margin-left: -20px;
            }
        }
        &-descr{
            color: $red;
        }
    }
}
.advantages-inner-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    .advantages__desc{
        width: 100%;
        max-width: 570px;
    }
    .advantages__title{
        font-size: 36px;
        line-height: 42px;
        color: $red;
        position: absolute;
        top: 0;
    }
    .advantages__title-bottom{
        right: 0;
        bottom: 0;
        top: auto;
    }
    .advantages__text{
        width: 303px;
    }
}
.design__images{
    margin-bottom: 100px;
}
.design__inner{
    display: flex;
    justify-content: space-between;
}
.design__item{
    max-width: 570px;
    width: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    .design__item-num{
        color: $red;
    }
    .design__item-text{
        max-width: 431px;
    }
}
.footer{
    background-color: $bg;
    padding: 83px 0px 20px;
    text-align: center;
    margin-top: 100px;
    .footer__btn{
        border: 1px solid #fff;
        padding: 30px 62px;
        background: rgba(255, 255, 255, 0.15);
        transition: all .3s;
        margin-bottom: 83px;
        &:hover{
            background-color: $bg;
        }
    }
    .footer__copy{
        font-weight: 700;
        li{
            display: inline-block;
            padding: 0px 10px;
            & + li{
                position: relative;
                &::before{
                    content: '|';
                    position: absolute;
                    left: -5px;
                }
            }
        }
    }
}


@import "media";